.not-found {
  margin-top: 100px;
}

.not-found h2 {
  margin-bottom: 10px;
}

.not-found p {
  margin-bottom: 20px;
}

.btn {
  color: blue;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}